html {
    box-sizing: border-box;
    font-size: 66.5%; /* 1rem = 10 px */
    margin: 0;
    
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Quicksand', sans-serif;
  }

  h3, p, .radio_btn_detalle, #castracion-btn {
    margin-left: 5rem;

  }

  h1{
    text-align: center;
    background-color: rgb(93, 53, 178 );
    color: #fafafa;
  }

.form_btn {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 5px;
}

hr{
  color: #ffffff;
}

.pelaje_cb{
  background-color: red;

}

.detalle_combo{
  display: flex;
}

.vacunas_combo{
  display: flex;
  gap: 14px;
}